# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=flotacontrol
DB_USER=postgres
DB_PASSWORD=tu_password
 
# JWT
JWT_SECRET=cambia_esto_por_una_clave_segura
JWT_EXPIRES_IN=30m
 
# Servidor
PORT=3000
NODE_ENV=development
